@import "tailwindcss";

html,
body {
  background-color: #161616;
  touch-action: none;
  user-select: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@theme {
  --z-index-1: 1;
  --color-rb-green: #10f715;
}
