@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  touch-action: none;
  user-select: none;
}

html {
  background-color: black;
}

body {
  background-color: var(--color-rb-black);
}

button,
a {
  cursor: pointer;
}

@theme {
  --z-index-1: 1;
  --color-rb-green: #10f715;
  --color-rb-green-light: #d1ffb2;
  --color-rb-yellow: #ffcb00;
  --color-rb-black: #161616;
  --color-rb-dark: #2a2a2a;
  --color-rb-darker: #1a1a1a;
  --color-rb-lcd: #8b956d;
  --scale-98: 0.98;
  --spacing-safe-bottom: var(--safe-inset-bottom, 0px);
}
