@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  touch-action: none;
  user-select: none;
}

html {
  background-color: black;
}

body {
  background-color: var(--color-rb-black);
}

button,
a {
  cursor: pointer;
}

@theme {
  --color-rb-green: #10f715;
  --color-rb-green-light: #d1ffb2;
  --color-rb-yellow: #ffcb00;
  --color-rb-red: #e7000b;
  --color-rb-black: #161616;
  --color-rb-dark: #2a2a2a;
  --color-rb-darker: #1a1a1a;
  --color-rb-lcd: #8b956d;
  --scale-98: 0.98;
  --shadow-rb-button-down: 0 2px 0 0 #0a0a0a, 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  --shadow-rb-button: 0 6px 0 0 #0a0a0a, 0 8px 12px 0 rgba(0, 0, 0, 0.4);
  --spacing-safe-bottom: var(--safe-inset-bottom, 0px);
}
